.env
.env.*
!.env.example
service-account.json
*.jks
*.keystore

node_modules/
dist/
build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

.idea/
.vscode/
*.log

coverage/
.DS_Store
Thumbs.db

apps/**/android/.gradle/
apps/**/android/local.properties
apps/**/android/app/debug
apps/**/android/app/profile
apps/**/android/app/release
apps/**/ios/Pods/
apps/**/ios/.symlinks/
apps/**/ios/Flutter/Flutter.framework
apps/**/ios/Flutter/Flutter.podspec
